<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-2">
                <svg th:if="${#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded img-thumbnail"
                 th:data-jdenticon-value="${account.nickname}" width="125" height="125"></svg>
<!--                denticon은 문자열을 입력하면 해당 문자열에 기반한 고유한 아이콘(아바타)을 생성하는 라이브러리야.-->
<!--                `예를 들어, "user123"과 "admin456"을 넣으면 서로 다른 아이콘이 생성됨.-->
            </div>
            <img th:if="${!#strings.isEmpty(account.profileImage)}"
                 th:src="${account.profileImage}"
                 class="img-fluid float-left rounded img-thumbnail"
                 width="125" height="125"/>
        </div>

        <div class="col-8">
            <h1 class="display-4" th:text="${account.nickname}">Whiteship</h1>
            <p class="lead" th:if="${!#strings.isEmpty(account.bio)}" th:text="${account.bio}">bio</p>

            <p class="lead" th:if="${#strings.isEmpty(account.bio) && isOwner}">
                한 줄 소개를 추가하세요.
            </p>
        </div>
    </div>

<div class="row mt-3 justify-content-center">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-intro-tab" data-toggle="pill" href="#v-pills-profile"
               role="tab" aria-controls="v-pills-profile" aria-selected="true">소개</a>
            <a class="nav-link" id="v-pills-study-tab" data-toggle="pill" href="#v-pills-study"
               role="tab" aria-controls="v-pills-study" aria-selected="false">스터디</a>
        </div>
    </div>

    <div class="col-8">

        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                 aria-labelledby="v-pills-home-tab">
                profile
            </div>

    </div>
</div>


</body>
</html>